utils/__pycache__/redeem_code.cpython-312.pyc
utils/__pycache__/castle_battle_support.cpython-312.pyc
databases/__pycache__/wyr_database.cpython-312.pyc
__pycache__/main.cpython-312.pyc
cogs/__pycache__/roast.cpython-312.pyc
.gitignore
